.board {
   color: wheat !important;
    
    margin-top: px;
    right: 700px;
    

    float: flex;
    position: absolute
  }
  
  .row {
    
    height: 35px !important; 
  }
  
  .cell {

    background-color: #6B7A8A;
    
    
    width: 35px !important;
    height: 35px !important;
    outline: 1px solid black!important;
    display: inline-block !important;
  }
  
  .cell-green {
    background-color: green;
  }
  
  .cell-red {
    background-color: red;
  }
  
  .cell-purple {
    background-color: purple;
  }