.board {
    outline: 3px solid rgb(134, 154, 189) !important;
    right: 700px !important; 
    
    height: 525px !important;
    float: flex;
    position: absolute
  }
  
  .row {
    
    height: 35px !important; 
  }
  
  .cell {
    
    
    width: 35px !important;
    height: 35px !important;
    outline: 1px solid rgb(134, 154, 189) !important;
    display: inline-block !important;
  }
  
  .cell-green {
    background-color: green;
  }
  
  .cell-red {
    background-color: red;
  }
  
  .cell-purple {
    background-color: purple;
  }