.create-group-list-modal {
    display: none; /* Hide modal by default */
    background-color: rgba(0, 0, 0); /* Semi-transparent black background */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.create-group-list-modal.show {
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
}

.create-group-list-modal-content {
    width: 30%;
    max-height: 55%;
    margin: auto;
    background-color: rgba(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    flex-direction: column;
}

#groupListName {
    color: rgba(255, 255, 255, 0.87);
    width: 42%;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.87);
    margin-right: 62px;
    background-color: #242424;
}

#groupListDueDate {
    color: rgba(255, 255, 255, 0.87);
    width: 42%;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

.add-group-btn,
.cancelGroupListBtn {
    margin: 5px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fc3571;
    border-color: #fc3571;
    color: rgba(255, 255, 255, 0.87);
}

#errorTxtGroupList {
    color: #fc3571;;
    font-weight: bold;
}