.groupInfo {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.87);
    border-radius: 9px;
    width: 28vw;
    height: 50vh;
    border-width: 3px;
    border-color: #fc3571;
    top: 30px;
    top: 30vh;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.groupListDisplay {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.87);
    border-radius: 9px;
    width: 40vw;
   height: 88vh;
    border-width: 3px;
    border-color: #fc3571;
    margin-left: 2vw;
    
    flex-direction: column;
}

.pageTitle {
    margin: 10px;
    justify-content: center;
    display: flex;
}

.leave-group-btn-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.leaveGroupBtn {
    width: 11rem;
    height: 48px;
    font-size: 20px;
    border-radius: 7px;
    background-color: #fc3571;
    border: #fc3571;
    color: rgba(255, 255, 255, 0.87);
}

.pageHeader {
    display: flex;
}

div.container {
    /* position: absolute;
    width: fit-content;
    right: 1vw;
    top: 95px; */

}

div.container-new {
    position: absolute;
    right: 1.6vw;
    top: 50px
}



.container {
 
    bottom: 10px;
 
    position: relative;
    left: 10vw;
    right: 10vw;
    top: 1vw;
  }
  