.groupInfo {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.87);
    border-radius: 9px;
    width: 28vw;
    height: 50vh;
    border-width: 3px;
    border-color: #fc3571;
    top: 30px;
    top: 30vh;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.groupListDisplay {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.87);
    border-radius: 9px;
    width: 40vw;
    height: 88vh;
    border-width: 3px;
    border-color: #fc3571;
    margin-left: 2vw;
    flex-direction: column;
    height: 74vh;
    overflow-y: auto;
}

.pageTitle {
    margin: 10px;
    justify-content: center;
    display: flex;
}

.groupPageCodeDisplay {
    margin-bottom: 20px;
}

.leave-group-btn-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.leaveGroupBtn {
    width: 11rem;
    height: 48px;
    font-size: 20px;
    border-radius: 7px;
    background-color: #fc3571;
    border: #fc3571;
    color: rgba(255, 255, 255, 0.87);
}

.pageHeader {
    display: flex;
    margin-top: 12px;
}

div.container-new {
    position: absolute;
    right: 1.6vw;
    top: 50px
}

.groupListPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.groupListsPageTitle {
    margin: 0;
    padding: 0;
    margin-left: 41%;
    margin-bottom: 5%;
}

.groupListsPageTitle-NonGroupOwner {
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
    margin-top: 5%;
}

.addGroupListPageContainer {
    margin-right: 40px;
    margin-bottom: 5%;
}

.addGroupListBtn-groupPage {
    background-color: #fc3571;
    border-color: #fc3571;
    border-radius: 7px;
    border-style: solid;
    color: rgba(255, 255, 255, 0.87);
    padding: 4px 8px;
    height: fit-content;
}

.groupContainer {
    display: flex;
    margin-right: 20%;
}