.groupInfo {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.87);
    border-radius: 9px;
    width: 28vw;
    height: 50vh;
    border-width: 3px;
    border-color: #fc3571;
    margin-left: 15.5vw;
    float: left;
}

.groupListDisplay {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.87);
    border-radius: 9px;
    width: 40vw;
    height: 88vh;
    border-width: 3px;
    border-color: #fc3571;
    margin-left: 2vw;
    float: center;
    flex-direction: column;
    height: 74vh;
    overflow-y: auto;
}

.pageTitle {
    margin: 10px;
    justify-content: center;
    display: flex;
}

.leave-group-btn-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.leaveGroupBtn {
    width: 11rem;
    height: 48px;
    font-size: 20px;
    border-radius: 7px;
    background-color: #fc3571;
    border: #fc3571;
    color: rgba(255, 255, 255, 0.87);
}

.pageHeader {
    display: flex;
    /* flex-direction: row; */
}

div.container {
    position: absolute;
    width: fit-content;
    right: 1vw;
    top: 95px;
}

div.container-new {
    position: absolute;
    right: 1.6vw;
    top: 50px
}

.groupListsPageTitle {

}

.addGroupListPageContainer{
    
}

.addGroupListBtn-groupPage {
    background-color: #fc3571;
    border-color: #fc3571;
    border-radius: 7px;
    border-style: solid;
    color: rgba(255, 255, 255, 0.87);
    padding: 4px 8px;
    height: fit-content;
}
