.listDisplay{
    border-style: solid;
    border-radius: 9px; 
    width: 45vw;
    height: 100vh;
    border-width: 3px;
    border-color: #fc3571;
    margin-left: 48px;
    float: left;
}

.lists {
    text-align: left;
}

.loginLink {
    font-family: 'Nova Square', sans-serif;
    font-size: 40px;
    color: white;
}

.loginLink:hover {
    color: #fc3571;
}

.pageHeader {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.homeLines {
    border: solid #fc3571;
    border-width: 1px;
    opacity: 1;
}

.groupName:hover {
    color: #fc3571;
}

a.groupName {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
    float: left;
    margin-left: 2em;
    flex: 5;
}

.addGroupList {
    display: inline-flex;
    float: right;
    margin-top: 12px;
    margin-right: 10%;
}  

.addGroupListBtn {
    background-color: #fc3571;
    flex: 1;
    border-color: #fc3571;
    border-radius: 7px;
    border-style: solid;
    color: rgba(255, 255, 255, 0.87);
    font-size: 0.4em;
    padding-top: 4px;
    padding-bottom: 8px;
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    height: fit-content;
    max-width: 48px;
    margin-right: 2em;
}

.listTitle {
display: inline-flex;
margin-left: 25%;
}

.addList {
display: inline-flex; 
float: right;
margin-top: 13px;
margin-right: 15%;
}

.addListBtn {
    background-color: #fc3571;
    border-color: #fc3571;
    border-radius: 7px;
    border-style: solid;
    color: rgba(255, 255, 255, 0.87);
    padding-bottom: 4px;
}

.groupListTitles {
    margin-bottom: 24px;
}

h1.groupHeading {
    display: flex;
}

.Checkr{
    color: #fc3571;
    font-family: 'Nova Square', sans-serif;
}

.homep{
text-size-adjust: 20px;
}

.loginLinkHome{
    color: white;
    font-family: 'Nova Square', sans-serif;
    font-size: 40px;
   text-decoration: none;
}

.loginLinkHome:hover{
    color: #fc3571;
    font-family: 'Nova Square', sans-serif;
    font-size: 40px;
    font-style: none;
}
