.listDisplay{
    border-style: solid;
    border-radius: 9px; 
    width: 46vw;
    height: 100vh;
    border-width: 3px;
    border-color: #fc3571;
    margin-left: 2vw;
    float: left;
}

.lists {
    text-align: left;
}

.loginLink {
    color: white;
}

.loginLink:hover {
    color: #fc3571;
}

.pageHeader {
    width: 100vw;
}

.homeLines {
    border-color: #fc3571;
}

.groupName:hover {
    color: #fc3571;
}

.groupName {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
    display: inline-flex;
    float: left;
    margin-left: 25%;
}

.addGroupListBtn {
    display: inline-flex;
    float: right;
    margin-top: 15px;
    margin-right: 10%;
}  

/* .listTitle {
display: inline-flex;
margin-left: 24%;
}

.addListBtn {
display: inline-flex; 
float: right;
margin-top: 35px;
margin-right: 15%;
} */
