.list {
  text-align: left;
  margin: 25px;
}

.task {
  margin: 5px 0px 5px 10px;
}

.taskRow {
  display: flex;
  margin-left: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  color: #fc3571;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: rgba(255, 255, 255, 0.87);
  display: none;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  align-items: center;
  padding: 30px;
}

.accordion-item.active .accordion-body {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  display: flex;
  flex-direction: column;
}

.addTaskButton {
  background-color: #fc3571;
  border-radius: 7px;
  border-color: #fc3571;
  border-style: solid;
  float: right;
  color: rgba(255, 255, 255, 0.87);
}

.addTask {
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
}

.accordion-body {
  display: none;
}

.dropArrow {
  width: 1.5em;
  height: 1.5em;
}

.completed-header {
  display: flex;
  padding: 30px !important;
}

.completed-accordion .completed-accordion-body {
  display: flex;
  flex-direction: column;
}

.completed-accordion {
  display: flex;
  flex-direction: column;
}

.completed-accordion-body {
  align-items: start;
  padding-left: 15px;
}


.complete-task {
  margin: 5px 0px 5px 10px;
  color: #fc3571;
}

.delete-task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fc3571;
  border-color: #fc3571;
  border-radius: 7px;
  border-style: solid;
  color: rgba(255, 255, 255, 0.87);
  float: left;
  margin-left: 0.7rem;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  height: 23px;
  width: 24px;
  padding: 3px 2px 5px 1px;
}

.deleteButton, .saveButton, .cancelButton {
  margin: 2px;
}

.editInput {
  border-radius: 9px;
  max-width: fit-content;
  max-height: fit-content;
  margin: 2px;
}

.listHeader:hover {
  cursor: pointer;
  color: #fc3571;
}

.completed-header:hover {
  cursor: pointer;
  color: #fc3571;
}


