.list {
  text-align: left;
  margin: 25px;
}

.task {
  margin: 5px 0px 5px 10px;
}

.taskRow {
  display: flex;
  margin-left: 20px;
}

/* .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  transition: 0.4s;
} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  color: #fc3571;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: rgba(255, 255, 255, 0.87);
  display: none;
  overflow: hidden;
}

/* .accordion-item {
  border: 1px solid #fc3571;
  margin-bottom: 4px;
} */

.accordion-header {
  padding: 30px;
}

/* .accordion-body {
  display: none;
  padding: 10px;
  background-color: #333;
} */

.accordion-item.active .accordion-body {
  display: block;
}