.profile-page-information {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-left: -2%;
}

.profile-page-content {
    border: solid #fc3571;
    border-width: 2px;
    border-radius: 7px;
    width: 475px;
    margin-top: 10px;
}

#profilePageUsername {
    margin-top: 20px;
    margin-bottom: 6px;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 15px;
    color: black;
}

#profilePageEmail {
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 30px;
    color: black;
}

.emailLabel {
    margin-left: 12px;
}

#profilePagePassword {
    margin-left: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
}

.profilePageHeader {
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    margin-top: 12px;
    margin-right: 7%;
}

.profilePageEditBtn {
    background-color: #fc3571;
    border-radius: 7px;
    border-color: #fc3571;
    border-style: solid;
    color: rgba(255, 255, 255, 0.87);
    margin-top: 5px;
   
}

.profilePageDeleteBtnContainer {
    margin-bottom: 10px;
    margin-top: 30px;
}

.profilePageDeleteBtn {
    flex-direction: column;
    background-color: #fc3571;
    border-radius: 7px;
    border-color: #fc3571;
    border-style: solid;
    color: rgba(255, 255, 255, 0.87);
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



.profilePageEditModeBtn {
    flex-direction: column;
    background-color: #fc3571 !important;
    border-radius: 7px!important;
    border-color: #fc3571!important;
    border-style: solid!important;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.87)!important;
    margin: 5px;
}

.addAdminForm {
    margin-top: 40px;
    margin-right: auto;
}

.addAdminContent {
    margin-top: 12px;
}

#addAdmin {
    margin: 6px;
    border-radius: 5px;
    height: 32px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.87);
    color: black;
}

.addAdminBtn {
    background-color: #fc3571;
    border-radius: 7px;
    border-color: #fc3571;
    border-style: solid;
    color: rgba(255, 255, 255, 0.87);
}


