.username {
    margin: 5px;
    align-self: center;
}

.signUpBtn {
    margin: 5px;
    background-color: #fc3571;
    border-color: #fc3571;
    border-radius: 7px;
    border-style: solid;
    color: rgba(255, 255, 255, 0.87);
    padding-bottom: 4px;
}