#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;
}

#scoreText{
    font-family: "Permanent Marker";
    font-size: 100px;
}

#resetBtn{
    font-family: "Permanent Marker";
    font-size: 22px;
    width: 100px;
    height: 50;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;

}